.Hero {
  background-color: #495e57;
  width: 100%;
}
.hero__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 5%;
}

.hero__inner .left {
    margin: auto;
    flex: 0 0 50%;
}

.hero__inner .right {
    margin: auto;
    flex: 0 0 50%;
}

.modal {
    position: fixed;
    background: rgba(255, 255, 255, 0.65);
    padding: 1rem;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.innerModal {
  position: relative;
  width: 100%;
  background-color: #495e57;
  max-width: 720px;
  padding: 1rem;
  border-radius: 3%;
}
