.App-header {
    width: 100%;
    background-color: #f9f9f9;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav ul {
    list-style: none;
}

nav .left {
    display: inline-flex;
    flex-direction: row;
    gap: 10%;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}

.logo {
    padding: 6px 10px;
}

.logo-circle {
    border-radius: 50%;
    background-color: #495e57;
}

nav .right {
    display: flex;
    align-items: center;
}

nav .right ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10%;
}

.active-link {
  color: #f4ce14;
  font-weight: bold;
}